<!-- templates/top_rockets.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Launching Rockets</title>
</head>
<body>
    <h1>Top 5 Launching Rockets by Number of Satellites</h1>
    {% if top_rockets %}
        <table border="1">
            <tr>
                <th>Launching Rocket</th>
                <th>Number of Satellites Launched</th>
            </tr>
            {% for rocket in top_rockets %}
            <tr>
                <td>{{ rocket['launching_rocket'] }}</td>
                <td>{{ rocket['number_of_satellites'] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No data found.</p>
    {% endif %}
</body>
</html>
